 .orange-myaccount {
     input::placeholder{
         font-family: $regular;
     }
     .org-myacc {
         .org-container {
             .myacc {
                 .nav-myacc {
                    .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
                        border-color: #fff #fff #fff;
                        border-bottom: 1px solid #dee2e6;
                    }
                    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
                        color: #495057;
                        background-color: #fff;
                        border-color: #fff #fff #fff;
                    }
                    .nav-tabs {
                        border-bottom: 1px solid #dee2e6;
                    }
                     .nav-tabs {
                         margin-bottom: 24px;
                         padding: 0 15px;
                        

                         .nav-item {
                             color: $black;
                             font-size: 18px;
                             padding: 8px 8px;
                            

                             &.active {
                                 //border: 0;
                                 border-bottom: 3px solid $primary;
                             }
                         }
                     }

                 }

                 .tab-content {
                     .tab-pane {
                         .nav-profile {
                             .nav {
                                 .nav-item {
                                     .nav-link {
                                         color: $black;
                                         background-color: $white;
                                         border-color: $black;
                                         border-radius: 0;
                                         border: 2px solid $black;
                                         font-size: 16px;
                                         padding: 5px 10px;
                                         margin: 0 5px;
                                        

                                         &.active {
                                             background-color: $black;
                                             color: $white;
                                         }
                                     }
                                    
                                 }
                             }
                         }

                         .tab-header {
                             color: $primary;
                             margin-top: 30px;
                             margin-bottom: 17px;
                             font-size: 18px;
                         }

                         .tab-subheader {
                             font-size: 14px;
                             margin-top: 17px;
                         }

                         .tab-description {
                             color: #666666;
                             font-size: 14px;
                             margin-bottom: 30px;

                         }

                         .members-section {
                             margin-bottom: 20px;

                             p {
                                 margin-bottom: 5px;

                                 a {
                                     color: $black;
                                     font-size: 14px;
                                     text-decoration: underline;
                                 }
                             }
                         }

                     }

                     .container {
                         .row {
                             .form-group {
                                 .form-control {
                                     border: 1px solid #999999;
                                     border-radius: 0;
                                 }
                             }
                         }

                         .tone-selection {
                             text-align: center;
                             margin: 40px 0;

                             p {
                                 a {
                                     color: $black;
                                     font-size: 14px;
                                     text-decoration: underline;

                                 }
                             }
                         }

                         .btn-container {
                             margin-bottom: 10px;
                             margin-top: 10px;
                         }
                     }

                     .pro-tbl {
                         table {
                             thead {
                                 tr {
                                     th {
                                         font-size: 14px;
                                         border-top: 0;
                                         word-spacing: normal;
                                         white-space: nowrap;
                                         padding: 10px 5px;
                                     }

                                 }
                             }

                             tbody {
                                 tr {
                                     /* &.select {
                                         background-color: #FEB17F;

                                     } */

                                     td {
                                         font-size: 14px;
                                         padding: 10px 5px;
                                     }
                                 }
                             }
                         }
                     }
                 }
             }
         }
     }
 }

 .myacc-menu{
    margin-left: auto;
    .nav-link{
        padding: 0;
        img{margin: 0; margin-left: 10px;}
    }
}




 //---------------
 //Media Queries
 //---------------

 //@include orange-myaccount--lg();
 @mixin orange-myaccount--lg() {}

 //@include orange-myaccount--md();
 @mixin orange-myaccount--md() {}

 //@include orange-myaccount--sm();
 @mixin orange-myaccount--sm() {}

 //@include orange-myaccount--xs();
 @mixin orange-myaccount--xs() {

    .orange-myaccount{

        .org-myacc{
            .org-container{
                .myacc{
                        .nav-myacc{
                           

                            .nav-tabs {
                                margin-bottom: 24px;
                                padding: 0 20px;
                                display: flex !important;
                                overflow-y: hidden;
                                flex-wrap: nowrap !important;
   
                                .nav-item {
                                    color: $black;
                                    font-size: 14px;
                                    padding: 8px 12px;
                                    width: auto;
                                    white-space: nowrap;
                                    flex: 1;
                                    
                                }
                            }
                            
                        }
    
                        .tab-content{                       
                            .tab-pane{
                                .nav-profile{
                                    .nav{ 
                                        .nav-item{
                                            .nav-link{
                                                color: $black;
                                                background-color: $white;
                                                border-color: $black;                                            
                                                border-radius: 0;
                                                border: 2px solid $black;
                                                font-size: 12px;
                                                padding: 2px 4px;
                                                margin: 0 5px;
                                                &.active{
                                                    background-color: $black;
                                                    color:$white;
                                                }
                                            }
                                          
                                        }
                                    }
                                }
                                .tab-header{
                                    color:$primary;
                                    margin-top:20px;
                                    margin-bottom:17px;
                                    font-size: 18px;
                                }
                                .tab-subheader{
                                    font-size:14px;
                                    margin-top:17px;
                                }
                                .tab-description{
                                    color:#666666;
                                    font-size: 12px;
                                    margin-bottom: 30px;
    
                                }
                                .members-section{
                                    margin-bottom:20px;
                                    p{ margin-bottom:5px;
                                    a{
                                    color:$black;
                                    font-size: 12px;
                                    text-decoration: underline;
                                    }}
                                }
                         
                            }
    
                            .container{
                                .row{
                                    .form-group{
                                        .form-control{                                        
                                        border: 1px solid #999999;
                                        border-radius:0;
                                        }
                                    }
                                }
                                .tone-selection{
                                    text-align:center;
                                    margin:40px 0;
                                    p{
                                        a{
                                            color:$black;
                                            font-size: 14px;
                                            text-decoration: underline;
                                           
                                    }
                                }
                                }
                                .btn-container{ 
                                    margin-bottom: 10px;
                                    margin-top:10px;
                                }
                            }
                            .pro-tbl{
                                table{
                                    thead{
                                        tr {
                                            th{
                                                font-size:14px;
                                                border-top:0;
                                                word-spacing: normal;
                                                white-space: nowrap;
                                                padding: 10px 5px;
                                                min-width: 100px;
                                                &:first-child{min-width: auto;}
                                            }
    
                                        }
                                    }
                                    tbody{
                                        tr{
                                           /*  &.select{
                                                background-color: #FEB17F;
    
                                            } */
                                            td{
                                                font-size: 12px;
                                                padding: 10px 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                }
            }
        }
     }

    



 }


 //@include orange-myaccount--xs(); 375px
 @mixin orange-myaccount--375() {}

 //@include orange-myaccount--360(); 360px
 @mixin orange-myaccount--360() {}

 //@include orange-myaccount--320(); 320px
 @mixin orange-myaccount--320() {
     .orange-myaccount {
         .org-myacc {
             .org-container {
                 .myacc {
                     .nav-myacc {
                         .nav-tabs {
                             .nav-item {
                                 padding: 8px 4px;
                                 font-size: 13px;
                             }
                         }
                     }

                     .tab-content {
                         .tab-pane {
                             .nav-profile {
                                 .nav {
                                     .nav-item {
                                         .nav-link {
                                             font-size: 11px;
                                             padding: 2px 4px;
                                             margin: 0 3px;
                                         }
                                     }
                                 }
                             }
                         }
                     }

                 }
             }
         }
     }

 }