.ban-data-cont {
    padding: 1rem 0;

    h3 {
        //width: 50%;
        min-height: 24px;
        margin: 0;
    }

    .data-info-cont {
        .data-price-cont {
            .price-suptext {
                color: $light;
                font-size: 13px;
                margin: 0;
                min-height: 22px;
                min-width: 150px;
            }

            .price-text {
                margin: 0;
                min-height: 24px;
                min-width: 100px;
            }
        }

        .data-btn-cont {
            margin-top: 10px;
            min-height: 24px;
            min-width: 100px;
            min-height: 30px;
            text-align: right;

            .btn {
                padding: 0.3rem 0.75rem;
                font-size: 16px;
            }
        }
    }
}