.orange-comp-header {
    .main-logo {
        text-decoration: none !important;
        cursor: pointer;
        color: $white;

        &:hover {
            //color: $primary;
            text-decoration: none !important;
        }
    }

    min-height: 58px;
    background-color: $black;
    position: fixed;
    z-index: 1000;
    width: 100%;
    max-width: 1920px;

    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;

    .navbar {
        padding: 18px 0px;
        display: flex;
        justify-content: space-between;

        .menu-toggle {
            display: flex;

            a {
                display: inline-block;

                height: 20px;
                padding: 0;
                margin: 0;
                border: 0;
                line-height: 16px;

                .menubar {
                    width: 22px;
                    height: 16px;
                }
            }

            .menu-text {
                display: inline-block;
                font-size: 20px;
                color: $white;
                margin-left: 0px;
                margin-bottom: 0;
                line-height: 20px;
            }
        }

        .right-menu {
            .nav-item {
                .nav-link {
                    padding: 0 0 0 10px;
                    font-size: 14px;

                    &:hover {
                        img {
                            filter: opacity(100%);
                        }
                    }

                    img {
                        width: 20px;
                        filter: opacity(75%);
                    }
                }
            }
        }
    }

    #sidebar {
        width: 300px;
        position: fixed;
        top: 0;
        left: -310px;
        height: 100vh;
        z-index: 999;
        background: $white;
        color: $white;
        transition: all 0.3s;
        overflow-y: scroll;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
        background-color: #555555;


        &.active {
            left: 0;
        }

        #dismiss {
            width: auto;
            height: auto;
            position: absolute;
            top: 26px;
            right: 20px;
            cursor: pointer;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;

            img {
                width: 26px;
            }
        }

        .sidebar-header {
            padding: 20px 0;
            background: #FBFBFB;
            min-height: 100px;
            border-bottom: 1px solid #444;
            padding: 15px;
            background-color: $primary;

            img {
                width: 50px;
                margin-bottom: 10px;
            }

            h2 {

                color: $white;
                font-size: 16px;
                font-family: $regular;

            }


            .login-txt {
                color: $white;
                font-size: 14px;
                font-family: $regular;
                display: block;
                text-transform: uppercase;

            }
        }

        ul.components {
            padding: 15px;
            border-bottom: 0px solid #444;

            li {
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0px;
                }

                a {

                    color: $white;
                    font-size: 14px;
                    font-family: $regular;
                    display: block;
                    text-transform: uppercase;



                    span {
                        img {
                            padding: 0 10px 0 0;
                            height: 20px;
                            padding-bottom: 5px;
                        }
                    }
                }
            }
        }

        a {
            text-decoration: none !important;

            &:hover {
                text-decoration: none !important;
            }
        }


    }
}


.header-active {
    background-color: $primary;
    min-height: 40px;

    .navbar {
        padding: 10px 0 !important;

        .right-menu .nav-item .nav-link {
            color: #000;
        }

    }
}




//  below classes to be updated in the main file

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}













//---------------
//Media Queries
//---------------

//@include orange-comp-header--lg(); 1200px
@mixin orange-comp-header--lg() {}

//@include orange-comp-header--md(); 992px
@mixin orange-comp-header--md() {}

//@include orange-comp-header--sm(); 768px
@mixin orange-comp-header--sm() {}

//@include orange-comp-header--xs(); 576px
@mixin orange-comp-header--xs() {
    #content {
        width: 100%;
        min-height: 100vh;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        right: 0;
    }

    .right-menu {
        display: none;
    }

    .orange-comp-header .navbar .menu-toggle .menu-text {
        margin-left: 15px;
        ;
    }


}

//@include orange-comp-header--375(); 375px
@mixin orange-comp-header--375() {}

//@include orange-comp-header--360(); 360px
@mixin orange-comp-header--360() {}

//@include orange-comp-header--320(); 320px
@mixin orange-comp-header--320() {}