.content-loader{
  
    margin:0 auto;min-height:100vh;position:relative;    
   .placeload {
         background:#fff;
         max-width: 500px;
         margin: 0 auto;
         width: 100%;
         padding: 20px;
         border: 1px solid $fade-grey;
         border-radius: 3px;
         position: relative;
         margin-top: 30%;
         transform: translateY(-50%); 
         .image-placeholder {width:100%;margin-top:20px;height:150px;}
       }
     } 
     .loads {
       -webkit-animation-duration: 1s;
       animation-duration: 1s;
       -webkit-animation-fill-mode: forwards;
       animation-fill-mode: forwards;
       -webkit-animation-iteration-count: infinite;
       animation-iteration-count: infinite;
       -webkit-animation-name: placeload;
       animation-name: placeload;
       -webkit-animation-timing-function: linear;
       animation-timing-function: linear;
       background: $background;
       background: $grey-nuance-lighter;
       background: -webkit-gradient(
         linear,
         left top,
         right top,
         color-stop(8%, $grey-nuance-lighter),
         color-stop(18%, $grey-nuance-darker),
         color-stop(33%, $grey-nuance-lighter)
       );
       background: -webkit-linear-gradient(
         left,
         #eeeeee 8%,
         #dddddd 18%,
         #eeeeee 33%
       );
       background: linear-gradient(to right, $grey-nuance-lighter 8%, $grey-nuance-darker 18%, $grey-nuance-lighter 33%);
       -webkit-background-size: 800px 104px;
       background-size: 1200px 104px;
       position: relative;
       border: 0;
     }
     
     @-webkit-keyframes placeload{
       0% {
         background-position: -468px 0;
       }
       100% {
         background-position: 468px 0;
       }
     }
     
     @keyframes placeload {
       0% {
         background-position: -468px 0;
       }
       100% {
         background-position: 468px 0;
       }
     }